services:
    maven:
        build:
            context: ./docker
            dockerfile: Dockerfile
        volumes:
            - './app:/app/out/'
        command: >
            bash -c "cp /app/project/target/*.war /app/out/"
    tomcat:
        image: tomcat:9-jdk8
        ports: 
            - '8081:8080'
        volumes:
            - './app:/usr/local/tomcat/webapps/'
        depends_on:
            - maven
